.user-page {
    margin-top: 58px !important;
}

.user-options button {
    width: 130px;
}

.add-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--main-color);
    background-color: white;
}